@media (min-width: 769px) {
  footer {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  footer section {
    width: 33%;
  }

  footer section i {
    transition: all 0.5s;
  }
  footer section i:hover {
    color: #03264c;
  }
}
